@using Microsoft.AspNet.Identity
@if (User.IsInRole("Administrator"))
{
    <li class="nav navbar-nav dropdown" role="presentation" style="font-weight: bold">
        <a class="dropdown-toggle" data-toggle="dropdown" type="button" >Admin menu<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Categories", "Index", "Categories",new {area="admin"},null)</li>
            <li>@Html.ActionLink("Items", "List", "Items", new { area = "admin" }, null)</li>
            <li>@Html.ActionLink("Stores", "Index", "Stores", new { area = "admin" }, null)</li>
            <li>@Html.ActionLink("Comment", "Index", "Comments", new { area = "admin" }, null)</li>
        </ul>
    </li>
}
 